# requirements.txt

flask==2.0.1
flask-sqlalchemy==2.5.1
sqlalchemy==1.4.46
flask-login==0.5.0
werkzeug==2.0.1
matplotlib
opencv-python
torch
tensorflow==2.17.0
keras==3.5.0
ultralytics
nibabel
scikit-image
monai
numpy==1.26.4
langchain
langchain-google-genai
langchain_community
unstructured[pdf]
chromadb
python-docx
python-dotenv